.App {
  padding: 5px;
}

.item {
  display: flex;
  justify-content: space-between;
  border: solid 2px rgb(77, 22, 230);
  padding: 5px;
}

.container {
  width: 20%;
  margin: 10px;
  text-align: center;
  line-height: 60px;
  font-size: 30px;
}

.image {
  width: 100%;
  border: solid 2px rgb(77, 22, 230);
}

.name {
  margin-top: 40px;
}